/PrimS.Telnet.NetStandard/bin
/PrimS.Telnet.NetStandard/obj
/PrimS.Telnet/bin
/PrimS.Telnet/obj
/PrimS.Telnet.CiTest/bin
/PrimS.Telnet.CiTest/obj
/PrimS.Telnet.CiTests/bin
/PrimS.Telnet.CiTests/obj
/PrimS.Telnet.v12.suo
/packages
/Telnet.40.CiTests/obj
/Telnet.40.CiTests/bin
/PrimS.Telnet.40/bin
/PrimS.Telnet.40/obj
/PrimS.Telnet.40.CiTests/bin
/PrimS.Telnet.40.CiTests/obj
/TestResults
/PrimS.Telnet.35/obj
/PrimS.Telnet.35/bin
/PrimS.Telnet.35.CiTests/bin
/PrimS.Telnet.35.CiTests/obj
/NDependOut
PrimS.Telnet.solution-user.settings.xml
*.suo
*.dg
/PrimS.Telnet.NetStandard/project.lock.json
